#Deployment config 
 .dsdeployrc

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# project setup
.husky

# production
/**/*.js
/**/*.d.ts
!gulpfile.js
!/types/**/*.d.ts

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#parcel
.parcel-cache